// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Colors variables:
$b_c_primary: #66FF88;
$b_c_secundary: #FF7066;
$typo_color_d: #472B43;
$typo_color_w: #FCFCFC;
$hover_primary: #45E568;
$hover_secundary: #E54F45;
$hover_typo_d: #2E172B;
$hover_typo_l: #F0F0F0;
$sup_link: #66D9FF;
$sup_success: #FFD666;
