// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";
$body: "Anonymous Pro", monospace, serif;



// To use a font file (.woff) uncomment following line

// Kotori - default version
@font-face {
  font-family: "Kotori Rose";
  src: font-url('../fonts/KotoriRose-Regular.otf'), format('opentype');    
}

// Kotori - bold version
@font-face {
  font-family: "Kotori Rose";
  src: font-url('../fonts/KotoriRose-Bold.otf'), format('opentype');
  font-weight: bold;
}

$header: "Kotori Rose";
