
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="margin: 0; padding: 0;  color: #472B43; font-family: 'Open Sans', sans-serif;">
    <div style="width: 100%;">
      <div style="max-width: 576; min-width: 325px; ">
        <div style="padding: 24px; flex-direction: column; margin: 0 auto;">
          <h1>Welcome from overall-digital, <%= @customer.name %></h1>
          <p>You have successfully contacted us </p>
          <p><strong>We will get back to you as soon as possible.</strong></p>
          <div style="max-width: 480px; margin: 24px; padding: 24px; background-color: #FcFcFc; border-radius: 4px;">
             <h3> <i>You sent us the following message</i> </h3>
            <p> <i>  <%= @customer.message %> </i></p>
          </div>


          <p>Thank you for contacting us and have a great day!</p>
        </div>
      </div>
    </div>
  </body>
</html>
