
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome from overall-digital, <%= @customer.name %></h1>
    <p>
      You have successfully sent a message to our customer service</p><br>
    <p>A member of the team will contact you back as soon as possible.</p>
    <p>
    </p>
    <p>Thanks for contacting us and have a great day!</p>
  </body>
</html>