// hero section //

.banner-hero__about {
  background : linear-gradient(132deg, #66FF88, #FF7066, #66D9FF, #66FF88, #472B43);
  background-size : 400% 400%;
  animation : Gradient 15s ease infinite;
  width: 100%;
  height: 560px;
  margin-bottom: 60px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

    h1 {
      color: $typo_color_w;
      font-size: xx-large;
      font-family: $headers;
    }

  }

.banner-hero__text {
  max-width: 420px;
}

/* Animate Background */
@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}


// team section //

.team-content {
  padding: 60px;

}

.team-about__title {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  h2 {
    margin-top: 16px;

  }
  img {
    width: 24px;
    height: 24px;
  }
}

.team-single-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;

    img {
      width: 120px;
    }
}

.team-single__description {
  padding: 0 20px;

  h5 {
    font-family: $body_font;
    font-weight: bold;
  }

  p {
    font-family: $body_font;
    font-size: smaller;
  }
}

// strory section //

.story-group {
  background-color: $hover_typo_l;
  margin-bottom: 100px;
  padding: 60px;
  z-index: -2;
}

.story-group__description {
  position: relative;
  margin: 0 auto;
  z-index: 1;

  p {
    font-family: $body_font;
  }

  img {
    position: absolute;
    right: 0;
    bottom: -28px;
    z-index: -1;
  }
}

// media queries //

@media (min-width: 760px) and (max-width: 1019.9px) {
  .story-group {
    padding: 60px 120px;
  }

  .team-content__group {
    display: flex;
    
    #team-single-content__fabre {
      flex-direction: row-reverse;
    }
  }

  .team-content {
    padding: 60px 120px;
  }

  .story-group__description {
    img {
      width: 60px;
      right: 20px;
      bottom: -18px;
    }
  }
}

@media (min-width: 1020px) and (max-width: 1279.9px) {
  .team-content__group {
    display: flex;
    justify-content: space-around;

    #team-single-content__fabre {
      flex-direction: row-reverse;
    }
  }

  .team-content {
    padding: 60px 160px;
  }

  .team-single-content{
    img {
      width: 160px;
    }
  }

  .story-group {
    padding: 60px 160px;
  }

  .story-group__description {
    img {
      width: 60px;
      right: 20px;
      bottom: -18px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .banner-hero__about {
    height: 640px;
    h1 {
      font-size: 56px;
    }
  }

  .team-about__title {
    h3 {
      font-size: 48px;
    }
  }

  .story-group {
    padding: 60px 200px;
  }

  .story-group__description {
    width: 80%;

    img {
      right: 20px;
      width: 60px;
    }
  }

  .team-content__group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    #team-single-content__fabre {
      flex-direction: row-reverse;
    }
  }

  .team-content {
    padding: 80px 200px;
  }

  .team-single-content {

    img {
      width: 240px;
    }
  }
}

