// Specific CSS for your home-page
 h5, h6, p, .know_more, .button_contact_us {
  font-family: $body_font;

}

body {
  color: #472B43;
  background-color: #FCFCFC;

}


h5, h6, .know_more, .button_contact_us{
  font-weight: bold;
}

h1, h3, h2 {
  font-family: $headers;
  font-weight: bold;
}

// hero section //

.banner-hero {
  margin-top: 40px;
  position: relative;
  max-width: 308px;
  z-index: 10;
}

.banner-hero__h1 {
  width: 280px;
}

.banner-hero__img {
  position: absolute;
  margin-top: -40px;
  margin-left: 180px;
  z-index: -10;
}

// animation hero //

.animation-hero {
  animation: hero-ease_out 3.2s ease-out;
}

@keyframes hero-ease_out{
  0%{opacity: 0; margin-left:-300px;};
  40%{opacity: 0; margin-left:-32px;};
  100%{opacity: 1}
}


//rotate effect //
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotate {
  -webkit-animation-name:             rotate;
  -webkit-animation-duration:         4s;
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;
}



// services section //

.services {
  margin: 200px 0 160px 0;
}

.services-cards {
  margin-top: 40px;
}

.services-cards__card {
  padding: 16px;
  height: 240px;
  border-radius: 2px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
  margin: 20px 0;
  overflow: hidden;
  position: relative;

  &:hover .services-cards__card-image {
    height: 270px;
    margin-top: -24px;
    margin-left: 20px;
  }
}

.services-cards__card-text {
  position: absolute;
  z-index: 10;
}

.services-cards__card-image {
  height: 250px;
  margin-top: -16px;
  margin-left: 40px;
  transition: ease-in-out .16s;

}

.card_yellow {
  background-color: $yellow;
}

.card_dark {
  background-color: $typo_color_d;
  color: $typo_color_w;
}

.card_green {
  background-color: $green;
}


// about us section //
.landing-about-us {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}

.about-bg {
  width: 100%;
  position: absolute;
  height: 600px;
  z-index: -10;
  opacity: .2;
  object: cover;
}


.landing-about-us__content {
  padding: 60px;
  width: 100%;
  margin: 0;
}

.landing_about-us__title {
  display: flex;
  flex-direction: row;

  h2 {
    margin-top: 16px;

  }
  img {
    width: 24px;
    height: 24px;
  }
}

.landing_about-us__description {
  margin: 32px 0;
  max-width: 800px;
}

// button underline style //

.button-underline {
  transition: ease-in .3s;
  margin-left: 16px;

  &:hover {
    color: $sup_link;
  }

}

.button-underline__text {
  color: $typo_color_d;
  border-bottom: 1.5px solid $typo_color_d;
  text-decoration: none;
  font-weight: bold;
  transition: ease-in .16s;

  a{
    text-decoration: none;
  }

  &:hover {
    border-bottom: 1.5px solid $sup_link;
    text-decoration: none;
  }

}

.landing_about-us__chevron {
  font-size: 12px;
}

//contact us section //

.landing-contact {
  margin-bottom: 160px;

  h2 {
    margin-bottom: 32px;
  }
}

.button-prim {
  background-color: $b_c_primary;
  padding: 16px 32px;
  width: fit-content;
  border-radius: 2px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.06);
  transition: ease-in .2s;

  a {
    text-decoration: none;
  }

  h6, i {
    margin: 0;
    color: $typo_color_d;
  }

  i {
    font-size: 12px;
    margin: -1px 0 0 4px;
  }

  &:hover {
    background-color: $hover_primary;
    color: $hover_typo_d;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0);
  }

  &:active {
    background-color: $hover_typo_d;
    color: $b_c_primary;
    box-shadow: inset 0px 0px 6px rgba(20, 2, 18, 0.3);
  }
}

// media queries //


@media (min-width: 760px) and (max-width: 1019.9px) {
  .banner-hero {
    margin-top: 120px;
    max-width: 400px;
  }

  .banner-hero__h1 {
    width: 320px;
    font-size: 48px;
  }

  .banner-hero__img {
    margin-left: 240px;
  }

  .services-cards__card {

    &:hover .services-cards__card-image {
      height: 270px;
      margin-top: -24px;
      margin-left: 220px;
    }
  }

  .services-cards__card-image {
    margin-left: 240px;
  }

  .landing-about-us__content {
    padding: 60px 120px;
  }
}

@media (min-width: 1020px) and (max-width: 1279.9px) {

  .banner-hero__h1 {
    width: 400px;
    font-size: 56px;
  }

  .banner-hero__img {
    margin-left: 280px;
  }

  .services-cards__card {

    &:hover .services-cards__card-image {
      height: 180px;
      margin-top: -24px;
      margin-left: 460px;
    }
  }

  .services-cards__card {
    height: 160px;
  }

  .services-cards__card-image {
    height: 160px;
    margin-left: 480px;
  }

  .landing-about-us__content {
    padding: 80px 160px;
  }

}

@media screen and (min-width: 1280px) {
  .banner-hero__h1 {
    width: 400px;
    font-size: 56px;
  }

  .banner-hero__img {
    margin-left: 280px;
  }

  .services-cards__card {

    &:hover .services-cards__card-image {
      height: 180px;
      margin-top: -24px;
      margin-left: 700px;
    }
  }

  .services-cards__card {
    height: 160px;
  }

  .services-cards__card-image {
    height: 200px;
    margin-left: 720px;
  }

  .landing-about-us__content {
    padding: 80px 200px;
  }
}






