<div class="container-footer">
  <div class="footer-content">
    <p class="footer-content__phrase">Contact us with any question at:</p>
    <%= mail_to "overall.digital.london@gmail.com", "overall.digital.london@gmail.com", class: "footer-content__mail"%>
  </div>
  <%= link_to root_path, class: "logo-footer" do %>
    <img src=<%= image_path 'footer-light.svg' %> alt="footer logo">
  <% end %>
</div>
