<div class="container-footer">
  <div class="footer-content">
    <p class="footer-content__phrase">if you have any doubt just  contact us on:</p>
    <%= mail_to "info@overall-digital.com", "info@overall-digital.com", class: "footer-content__mail"%>
  </div>
  <%= link_to root_path, class: "logo-footer" do %>
    <img src=<%= image_path 'footer-light.svg' %> alt="footer logo">
  <% end %>
</div>
