<div class="container-overall">
  <div class="contact-content">

      <div class="banner-hero">
        <h1 class="banner-hero__h1 animation-hero">not the good one</h1>
        <img src="<%= image_path 'coulored-logo.svg' %>" class="banner-hero__img rotate" alt="overall-digital logo">
      </div>
    <div class="contact-content__form">

    </div>

  </div>

</div>
