<div class="banner">
    <h1>developing ideas to create a better www.</h1>
    <img src=<%= image_path 'coulored-logo.svg' %> alt="overall-digital logo">
</div>

<div class="what_we_do d-flex flex-column">
  <div class="cards">
    <h3>what we do</h2>
    <div class="digital_product wwd_card">
      <h5>DIGITAL PRODUCT</h3>
      <p>We make digital products combining functionality and beauty to meet your goals.</p>
    </div>
    <div class="design wwd_card">
      <h5>DESIGN</h5>
      <p>We build elements that tell your story. Digital-first designs 100% adapted to the real world.</p>
    </div>
    <div class="ux_consulting wwd_card">
      <h5>UX CONSULTING</h5>
      <p>We can help you to improve, raise perceptions and create trust of your website.</p>
    </div>
  </div>
</div>