<div class="container-overall">
  <div class="banner-hero">
    <h1 class="services--banner-hero__h1 animation-hero">we are always learning to improve our products </h1>
    <img src="<%= image_path 'coulored-logo.svg' %>" class="services--banner-hero__img rotate" alt="overall-digital logo rotating">
  </div>
</div>
