<div class="container-overall">
  <div class="banner-hero">
    <h1 class="services--banner-hero__h1 animation-hero">Services Menu</h1>
    <img src="<%= image_path 'coulored-logo.svg' %>" class="services--banner-hero__img rotate" alt="overall-digital logo rotating">
  </div>
  <div class="services--container">
    <div class="services--element">
      <div class="services--element-header">
        <h1>web</h1>
        <img src="/assets/WWW.svg" alt="">
      </div>
      <div class="services--element-description">
        <h3>WEB DEVELOPMENT</h3>
        <p>We design, build and maintain beautiful websites to achieve your vision and goals. Whether you want a big amazon style store with all the features you can get or a beautiful one page website for your new startup, we do it all.</p>
      </div>
    </div>
    <div class="services--element">
      <div class="services--element-header" id="header_reverse">
        <h1>ux</h1>
        <img src="/assets/consultancy.svg" alt="">
      </div>
      <div class="services--element-description" id="description-reverse">
        <h3>UX CONSULTING</h3>
        <p>Are you trying to get your users to sign up or subscribe but just can’t quite get them there? We can help you optimize your user experience to achieve your goals.</p>
      </div>
    </div>
    <div class="services--element">
      <div class="services--element-header" >
        <h1>social media</h1>
        <img src="/assets/mobile.svg" alt="">
      </div>
      <div class="services--element-description">
        <h3>SOCIAL MEDIA MANAGEMENT</h3>
        <p>Overall Digital is proud to be partnering with Tamay to offer social media management. </p>
      </div>
    </div>
    <div class="services--element">
      <div class="services--element-header" id="header_reverse">
        <h1>brands</h1>
        <img src="/assets/design.svg" alt="">
      </div>
      <div class="services--element-description" id="description-reverse">
        <h3>DESIGN</h3>
        <p>Do you have a story to tell? We have the expertize to give your brand the attention and super professional look and feel it deserves.</p>
      </div>
    </div>
    <div class="services--element">
      <div class="services--element-header">
        <h1>photography</h1>
        <img src="/assets/camera.svg" alt="">
      </div>
      <div class="services--element-description">
        <h3>PRODUCT PHOTOGRAPHY</h3>
        <p>We work with top London-based photographers to bring the best content possible to you. We manage all the production process so all you have to do is tell us what you want and wait for the magic to happen.</p>
      </div>
    </div>
  </div>
</div>
