<div class="container-overall container-overall__contact">
  <div class="banner-hero contact-header">
    <h1 class="banner-hero__h1 animation-hero">feel free to contact us!</h1>
    <img src="<%= image_path 'coulored-logo.svg' %>" class="banner-hero__img rotate" alt="overall-digital logo">
  </div>
  <div class="contact-textcontainer">
    <p>or you can contact directly with us on:</p>
    <%= mail_to "overall.digital.london@gmail.com", "overall.digital.london@gmail.com", class: "contact-textcontainer__link"%>
  </div>
</div>
