.content-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  justify-content:space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-radius: 4px 4px 0px 0px;
  box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.2);
  z-index: 100000;

  p {
    opacity: .8;
    color: $typo_color_d;
    margin: 0;
    font-size: smaller;
  }
}

#navbar-home__link {
  width: 25%;
}

.navbar-section__logosymbol {
  display: none;
}

.navbar-section__options {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 75%;
  transition: ease-in .16s;
  p {
    opacity: .8;
  }
}

.navbar-section__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: ease-in .16s;

  p {
    opacity: .8;
    color: $typo_color_d;
    transition: ease-in .16s;
  }

  &:hover {
    p {
      opacity: 1;
      color: $sup_link;
    }
  }
}

.navbar-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 48px;
  opacity: .8;
  transition: ease-in .16s;

  &:hover {
    opacity: 1;
    p {
      opacity: 1;
      color: $sup_link;
      transition: ease-in .16s;
    }
  }
}

.navbar-admin {
  i {
    color: black;
  }
}

.navbar-selector__no-opacity {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 48px;
}

.navbar-selector__img {
  width: 30px;
  height: 30px;
}



@media (min-width: 760px) and (max-width: 1019.9px) {
  .content-navbar {
    padding: 4px 32px;
    top: 0;
    height: 72px;
    align-items: center;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);

  }

  #navbar-home__link {
    width: fit-content;
  }

  .navbar-section__logosymbol {
    margin: 0;
    display: block;
    img {
      height: 24px;
      margin: 8px;
    }
  }

  .navbar-section__brand {
    display: none;
  }

  .navbar-selector {
    flex-direction: row;

    p {
      font-size: 16px;
      margin-left: 8px;
    }
  }

  .navbar-selector__img {
    width: 24px;
    height: 24px;
  }

  .navbar-section__options {
    width: 391px;
    align-items: center;
  }
}

@media (min-width: 1020px) and (max-width: 1279.9px) {
  .content-navbar{
    padding: 4px 150px;
    top: 0;
    height: 72px;
    align-items: center;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  }

  #navbar-home__link {
    width: fit-content;
  }

  .navbar-section__logosymbol {
    margin: 0;
    display: block;

    img {
      height: 20px;
      margin: 8px;
    }
  }

  .navbar-section__brand {
    display: none;
  }

  .navbar-selector__img {
    width: 24px;
    height: 24px;
  }

  .navbar-section__options {
    align-items: center;
    width: 391px;
    height: 50px;
  }



  .navbar-selector {
    flex-direction: row;
    align-items: center;


    p {
      font-size: 16px;
      margin-left: 8px;
    }
  }

}

@media screen and (min-width: 1280px) {
  .content-navbar {
    padding: 3px 190px;
    top: 0;
    align-items: center;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  }

  #navbar-home__link {
    width: fit-content;
  }

  .navbar-section__options {
    width: 541px;
    align-items: center;
    height: 40px;
  }

  .navbar-section__logosymbol {
    margin: 0;
    display: block;
    img {
      height: 28px;
      margin: 8px;
    }
  }

  .navbar-section__brand {
    display: none;
  }

  .navbar-selector__img {
    width: 24px;
    height: 24px;
  }

  .navbar-selector {
    min-width: fit-content;
    flex-direction: row;
    align-items: center;

    &:hover {
      .navbar-selector__img {
        opacity: 100%;
      }
    }

    p {
      font-size: 16px;
      margin-left: 8px;
    }
  }
}
