//the commented rows are the per deffault navbar styles

//.navbar-lewagon {
//  justify-content: space-between;
//  background: white;
//}

//.navbar-lewagon .navbar-collapse {
//  flex-grow: 0;
//}

//.navbar-lewagon .navbar-brand img {
//  width: 40px;
//}

.navbar-lewagon {
    justify-content: space-between;
    background: white;
  }

  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-lewagon .navbar-brand img {
    width: 40px;
  }

  footer {
    background-color: $typo_color_d;
    width: 100vw;

    p, a {
      font-family: $body_font;
      margin: 0 auto;
    }

    p {
      color: $typo_color_w;
    }
  }

  @media only screen and (max-width: 769px) {
    nav {
      background-color: #FFF;
      height: 3.5rem;
      position: fixed;
      bottom: 0;
      width: 100vw;
    }

    footer {
      height: 27rem;
    }
}
